/* :root {
    --primary: #ea7f59;
    --background: #fff4f0;
    --hover: #ea7f59;
    --jumbotron: #f3b6a4;
  } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);

    /* min-height: 9000px; */
  }

  /* NAVBAR */

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 7%;
    background: linear-gradient(to right, #ffe5d5, #fbc8c1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  header img {
    width: auto;
    height: 60px;
    margin-right: auto;
  }

  .navbar-nav li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
  }

  .navbar-ul li a {
    transition: all 0.3s ease 0s;
  }

  .navbar-ul li a:hover {
    color: var(--hover);
  }

  header a {
    color: black;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
  }

  .nav-profile i {
    font-size: 23px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px 12px;
  }

  .navbar-nav .nav-profile i:hover {
    color: var(--hover);
    border-color: var(--hover);
  }

  #hamburger-menu {
    display: none;
  }

  /* JUMBOTRON */

  .jumbotron {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--jumbotron);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .jumbotron .content {
    margin-right: 90px;
    padding-left: 6%;
    max-width: 700px;
  }

  .jumbotron .content h1 {
    font-size: 65px;
    color: var(--primary);
  }

  .jumbotron .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .jumbotron .content a {
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
  }

  .jumbotron .content .rsv-now {
    background-color: var(--primary);
    color: white;
    border: 3px solid var(--primary);
    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 18px;
  }

  .jumbotron .content .rsv-now:hover {
    background-color: var(--background);
    color: var(--primary);
    border: 3px solid var(--primary);
    transition: 0.1s;
  }

  .jumbotron img {
    width: 26rem;
    margin-right: 100px;
  }

  /* FEATURES */

  .features {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-container {
    text-align: center;
    max-width: 900px;
    margin: 6rem auto;
    padding: 20px;
    border-radius: 10px;
  }

  .features-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    justify-content: center;
  }

  .feature {
    display: inline-block;
    width: 200px;
    margin: 10px 40px;
    text-align: center;
    gap: 60px;
  }

  .features-container a {
    color: #000;
    font-weight: 600;
  }

  .feature img {
    width: 140px;
  }

  .feature p {
    margin-top: 10px;
    font-size: 1.2em;
  }

  /* ARTICLE */
  .articles-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20rem;
    margin-bottom: 30rem;
  }

  .articles-container {
    text-align: center;
    max-width: 1000px;
    padding: 20px;
  }

  .articles-container h1 {
    font-size: 2em;
    margin-bottom: 3rem;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .article {
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(233, 152, 127, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 450px;
    margin: 0 30px;
    padding: 15px;
    text-align: left;
  }

  .article img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .article h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }

  .article p {
    font-size: 0.9em;
    text-align: left;
  }

  .article a {
    color: #0066cc;
    text-decoration: none;
  }

  .view-all-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }

  .view-all-btn:hover {
    background-color: #b55a1e;
  }

  /* ABOUT */

  .about-us {
    display: flex;
    padding: 0 12rem;
  }

  .about-image img {
    height: 23rem;
  }

  .about-caption {
    display: block;
    padding: 1rem 2rem 0 6rem;
  }

  .about-caption h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .about-caption h3 {
    font-size: 25px;
    font-weight: 400;
  }

  /* FOOTER */

  .footer {
    background-color: #f3b6a4; /* Adjust the color to match your design */
    padding: 40px 0 0 0;
    color: #000;
    text-align: center;
    margin-top: 8rem;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
  }

  .contact-info {
    text-align: left;
  }

  .footer-container .contact-info h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer-container .contact-info p {
    font-size: 20px;
    margin: 10px 0;
  }

  .contact-info i {
    font-size: 20px;
    margin-right: 10px;
  }

  .footer-image img {
    max-width: 200px;
  }

  .footer-bottom {
    background-color: #fff0f1; /* Adjust the color to match your design */
    padding: 10px 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    position: relative;
    left: 0; /* Reset any positioning */
    bottom: 0;
  }

  .footer-bottom p {
    margin: 0;
    font-size: 0.9em;
  }
